<div class="pageContainer">
  <nav>
    <div id="titleContainer">
      <img src="assets/images/nan_shield.svg" />
      <div>
        <h1>Not A Normal Budget</h1>
      </div>
    </div>
    <div class="navLinks">
      <a id="homepageLink" routerLink="/" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }">Home</a>
      <a id="accountsLink" routerLink="/a" [routerLinkActive]="['active']">Accounts</a>
      <a id="goalsLink" routerLink="/g" [routerLinkActive]="['active']">Goals</a>
      <a id="budgetsLink" routerLink="/b" [routerLinkActive]="['active']">Budgets</a>
      <a id="fundsLink" routerLink="/f" [routerLinkActive]="['active']">Funds</a>
      <a id="transactionsLink" routerLink="/t" [routerLinkActive]="['active']">Transactions</a>
      <a id="settingsLink" routerLink="/settings" [routerLinkActive]="['active']">Settings</a>
      <a id="githubLink" href="https://github.com/brct-james/nan-gg" target="_blank">Github<i class="fas fa-external-link-alt"></i></a>
    </div>
  </nav>
  <div class="bodyContent">
    <router-outlet></router-outlet>
  </div>
</div>
