$nan-main: #00bac7
$nan-nav: #132631
$nan-bg: #244d64
// $sb-bg-highlight: #2a5872
$restricted-red: #ff0000
$highlight-yellow: #fffb00
.importantText
  color: $restricted-red
  font-weight: bold
  font-style: italic

$main-red: #dd323b
$main-grey: #3d3d3d
$main-white: #ffffff
$main-yellow: #f1a709
$main-orange: #f16609
$main-green: #00b61e
$main-blue: #0098c7
$main-indigo: #4826c4
$main-violet: #9424c0
$hover-grey: #dbdbdb
$highlight-grey: #f3f3f3
$mid-grey: #5c5c5c
$light-yellow: #e9f1bb
$dark-blue: #03a4b9
$guide-preview-width: 240px
$sidebar-width: calc(#{$guide-preview-width} + 1em + 10px)
// $body-margin: 10px //0 $body-margin 0 $body-margin
$guide-preview-image-dimensions: 72px
// $guide-height: calc(100vh - #{$nav-height} - 1px)

$bg-highlight: #e9f7ff
$main-text: #272727

$nav-width: 200px
$nav-link-padding: 16px
$page-height: calc(100vh - 1px)
$page-width: calc(100vw - 1px)
$body-height: calc(#{$page-height} - 1em)
$body-width: calc(#{$page-width} - #{$nav-width} - 3px - 1em)

.noselect
  -webkit-touch-callout: none // iOS Safari */
  -webkit-user-select: none // Safari */
  -khtml-user-select: none // Konqueror HTML */
  -moz-user-select: none // Old versions of Firefox */
  -ms-user-select: none // Internet Explorer/Edge */
  user-select: none // Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */